:root {
  --my-black: #444;
  --my-gray: #999;
  --my-light-gray: #f4f4f4;
  --my-blue: #417ef3;
  --my-orange: #ed850c;
}

.activate-lightbox {
  position: relative;
}

.activate-lightbox::after {
  background-color: white;
  position: absolute;
  opacity: 0;
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  text-align: center;
  font-size: 24px;
  top: 0;
  left: 0;
  content: "Click for more photos.";
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.activate-lightbox:hover::after {
  opacity: 0.7;
}

.modal {
  padding: 0 !important;
}

.modal-dialog {
  margin: 15px !important;
  padding: 0;
}

@media (min-width: 930px) {
  .modal-dialog {
    margin: 15px auto !important;
    padding: 0;
  }
}

.modal-content {
  height: calc(100vh - 30px);
}

.modal-body {
  height: calc(100vh - 30px - 71px - 57px);
}

.modal-carousel-container {
  width: 100%;
  height: calc(100vh - 30px - 71px - 32px - 57px);
}

.modal-carousel-inner {
  height: calc(100vh - 30px - 71px - 32px - 57px);
}

.modal-carousel-image-container {
  width: 100%;
  height: calc(100vh - 30px - 71px - 32px - 57px);
}

.modal-carousel-image {
  object-fit: cover !important;
  object-position: center !important;
  width: 100%;
  min-height: calc(100vh - 30px - 71px - 32px - 57px);
  height: 100%;
}

@media (min-width: 576px) {
  .modal-body {
    height: calc(100vh - 30px - 71px);
  }

  .modal-carousel-container {
    height: calc(100vh - 30px - 71px - 32px);
  }

  .modal-carousel-inner {
    height: calc(100vh - 30px - 71px - 32px);
  }

  .modal-carousel-image-container {
    height: calc(100vh - 30px - 71px - 32px);
  }

  .modal-carousel-image {
    min-height: calc(100vh - 30px - 71px - 32px);
  }
}

.modal-carousel-container .carousel-inner {
  height: auto;
}

.modal-carousel-container .carousel-image-container {
  height: 600px;
  width: 100%;
}
.modal-carousel-container .carousel-image {
  object-fit: cover !important;
  object-position: center !important;
  min-height: 600px;
  width: 100%;
}

.modal-carousel-container .carousel-indicators li {
  background-color: white !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
  }
}
