:root {
  --my-black: #444;
  --my-gray: #999;
  --my-light-gray: #f4f4f4;
  --my-blue: #417ef3;
  --my-orange: #ed850c;
}

.my-background {
  background-color: var(--my-light-gray);
  padding: 30px 30px;
  min-height: calc(100vh - 112px - 81px);
}

.contact-link {
  display: block;
  font-size: 24px;
  color: var(--my-orange);
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.contact-link:hover {
  text-decoration: none;
  color: var(--my-blue);
}
